<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Beers</title>
  <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
<div class="index-container">
  <img width="300" src="/images/beer.png" class ="beerImage">
  <button type="button" id="btn1" onclick ="location.href='/beers'">Check Beers</button>
  <button type="button"  id="btn2" onclick ="location.href='/randomBeer'">Check random beer</button>
  <button type="button" id="btn3" onclick="location.href='/lightBeers'">Check light beers</buton>
</div>
</body
